<h2>Let's figure something out together</h2>
<p>Ideas are amazing things. When ignored, even the bightest ideas can shrivel and disappear. Proper consideration and nurturing of an idea and it can grow something that changes the world.</p>
<p>This is a place where you can present an idea to a team that you trust, discuss, shape, and harden your concept. It might be as simple as making the right choice for the dinner menu, or as complex as finding the most effective protein sequence to invest research into.</p>
